
/*
  message window
*/
* {
  font-family: "UDEV Gothic" !important;
}

html {
  margin: 0 !important;
  padding: 0 !important;
  word-wrap: break-word !important;
  background-color: #eaeaea !important;
}

body {
  margin: 0 !important;
  padding: 4px !important;
  font-size: 14px;
  color: #073642 !important;
  line-height: 1.25 !important;
  overflow-x: hidden;
}
a {
  color: #268bd2;
}


/*
  quote message color
*/
blockquote, span[_moz_quote=true] {
  color: #b58900 !important;
}
