#threadTree * {
  font-family: "UDEV Gothic" !important;
}

#folderPaneWriteMessage {
  background: #5e5e5e !important;
  color: #ececec !important;
  border: none !important;
}

/* ------------------------------
    message-list pane
------------------------------ */

#threadTree [is="thread-row"] {
  line-height: 1.5;
  color: #6e6e6e !important;
  font-size: 14px;
}

#threadTree [is="thread-row"]:nth-of-type(odd) {
  background: #ececec !important;
}

#threadTree [is="thread-row"]:hover {
  background-color: #98daee !important;
}
#threadTree [is="thread-row"].selected {
  background-color: #98daee !important;
  color: #272727 !important;
}

#threadTree [is="thread-row"].selected button.tree-button-flag {
  color: #efefef !important;
}

/* unread message */
#threadTree [data-properties~="unread"] {
  color: #0d3e6d !important;
}

/* ------------------------------
    preview pane
------------------------------ */

#attachment-view-toolbar,
#attachmentList,
#attachmentList * {
  background-color: #ffea00 !important;
  color: #123456 !important;
}

#expandedHeadersBottomBox {
  min-height: 60px !important;
}
