#threadTree * {
  font-family: "UDEV Gothic" !important;
}

#folderPaneWriteMessage {
  background: #5e5e5e !important;
  color: #ececec !important;
  border: none !important;
}

/* ------------------------------
message-list pane (table-view-mode)
------------------------------ */

#threadTree [is="thread-row"] {
  font-size: 12px;
  color: #6e6e6e !important;
  line-height: 2;
}

#threadTree [is="thread-row"]:nth-of-type(odd) {
  background: #ececec !important;
}

#threadTree [is="thread-row"].selected {
  background-color: #98daee !important;
  color: tomato !important;
  outline: 1px solid tomato;
}

#threadTree [is="thread-row"]:hover {
  background-color: #c3e9f5 !important;
}

#threadTree [is="thread-row"].selected button.tree-button-flag {
  color: #efefef !important;
}

/* ------------------------------
message-list pane (card-view-mode)
------------------------------ */

#threadTree [is="thread-card"] {
  font-size: 12px;
  color: #6e6e6e !important;
  line-height: 2;
}

#threadTree [is="thread-card"]:nth-of-type(odd) {
  background: #ececec !important;
}

#threadTree [is="thread-card"].selected {
  background-color: #98daee !important;
  color: #494949 !important;
}

#threadTree [is="thread-card"]:hover {
  background-color: #c3e9f5 !important;
}

#threadTree [is="thread-card"].selected button.tree-button-flag {
  color: #efefef !important;
}

/* unread message */
#threadTree [data-properties~="unread"],
#threadTree [data-properties~="unread"].selected {
  color: #76b600 !important;
}

/* ------------------------------
    folder pane
------------------------------ */

#folderTree [data-folder-type="drafts"] span.unread-count {
  background: #ccc !important;
  color: #888 !important;
}

/* ------------------------------
    preview pane
------------------------------ */

#attachment-view-toolbar,
#attachmentList,
#attachmentList * {
  background-color: #ffea00 !important;
  color: #123456 !important;
}

#expandedHeadersBottomBox {
  min-height: 60px !important;
}
